body{
    background-color: black;
}
.container{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    color: white;
    text-transform: capitalize;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.calculetor{
    display: flex;
    border-radius: 10px;
    justify-content: flex-start;
    flex-direction: column;
    height: 500px;
    width: 300px;
    background-color: rgb(28, 43, 43);
}
.calculetor input{
    font-size: xx-large;
    text-align: right;
    background-color: rgb(130, 127, 133);
    height: 50px;
    width: 85%;
    margin: 30px auto;
    border-radius: 20px;
    overflow: hidden;
}
.calculetor .clear{
    width: 95%;
    display: flex;
    justify-content: flex-end;
}
.calculetor .calculetor-buttons{
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 70%;
    width: 90%;
    background-color: rgb(31, 49, 59);
    margin: 0 auto;
}
.calculetor .calculetor-buttons .rows{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-evenly;
}
.calculetor-buttons .rows button{
    height: 2.5em;
    width: 60px;
    margin: auto 0;
}
button:hover{
    background-color: rgb(172, 167, 167) !important;
}